.title {
    text-align: center;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.sizeMe {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

body {
    background-image: url("../assets/fallPic.jpg");
}

/* .pageBack {
    background-image: url("../assets/TurkeyWeapon.jpg");
    background-repeat: no-repeat;
<<<<<<< HEAD
  } */
=======
    background-color: rgb(237, 175, 75);
  }
>>>>>>> 3c66d0a626e94714498c933fe184c379f204be3a
