.title {
    text-align: center;
    font-size: 65px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sizeMe {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

body {
    background-image: url("../assets/fallPic.jpg");
    background-position: bottom;
    background-position: left;
}

  

.startBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid black;
  height: 100px;
  text-align: center;
  }

  .startBtn:hover {

    font-size: 38px;
  }
.turkey {
  border-radius: 4px;
  padding: 5px;
  height: auto;
  width: 200px;
}
.backToTitleBtn {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid black;
  height: 100px;
  text-align: center;
}
.backToTitleBtn:hover {
  font-size: 30px;
}
.yesBtn {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 1px solid black;
  height: 55px;
  text-align: center;
} 
.yesBtn:hover {
  font-size: 25px;
}
.noBtn {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 1px solid black;
  height: 55px;
  text-align: center;
} 
.noBtn:hover {
  font-size: 25px;
}
.spaceEvenly {
  justify-content: space-evenly;
}
/* Super stregth and super speed buttons done like that on purpose */
.imageSize {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  border: 1px solid black;
  height: 400px;
}
.imageSizeEnding {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  border: 1px solid black;
  height: 255px;
}
.imageSizeFlash {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  width: auto;
  border: 1px solid black;
  height: auto;
}


/* .pageBack {
    background-image: url("../assets/TurkeyWeapon.jpg");
    background-repeat: no-repeat;
  } */